<ion-content class="ion-padding">


  <div class="forms">
    <div class="ion-text-center">
      <div class="ion-padding">
        <img class="logo" src="../../assets/logos/logo-01.png" alt="logo">
        <p class="title">Inscription</p>
        <p>Veillez renseigner tous les champs ci-dessous</p>
      </div>
    </div>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input class="ion-no-padding" type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input type="text"></ion-input>
    </ion-item>
    <div class="ion-text-center ion-padding-vertical">
      <ion-button color="light" shape="round">Valider</ion-button>
    </div>

    <hr class="hr-text" data-content="OU">

    <div class="ion-text-center ion-padding-vertical">
      <div>
        <img class="ion-margin-end icons" height="50" width="50" src="../../assets/icon/Facebook-Icon.png" alt="facebook">
        <img class="icons" height="50" width="50" src="../../assets/icon/Google-Plus-Icon.png" alt="google">
      </div>
    </div>

    <div class="ion-text-center">
     <p>Vous avez de compte ? <br> <a class="signUp" href="">Connectez-vous</a></p>
    </div>
  </div>


</ion-content>
